doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pug Site
        link(rel="stylesheet" href="https://loja.blacklight.net.br/css/main.css")
        script(src="https://loja.blacklight.net.br/scripts/github.io.js")
    body 
        include menu.pug 
printx("oi")