menu
    li
        a(href="/") Loja
    li
        a(href="/products") Produtos
    li
        a(href="/comprar-gift") Loja de gifts
    li
        a(href="/resgatar") Resgatar
    li
        a(href="/discord") Discord
    li(class="mause")
        a(onclick="github()")
            img(style="width:5%" id="github" class="githubicon media" src= "https://github.com/fluidicon.png")
        
